.projects-view-container {
    margin-top: 10vh;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    color: rgb(51, 51, 51);
    width: 100%;
}

.projects-title {
    width: min(1200px, 85%);
    padding-bottom: 4vh;
    border-bottom: 1px solid #aaa;
}